@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
        font-size: 3rem;
        @apply text-3xl;
    }

    h2 {
        @apply text-xl;
    }
}

@layer components {
    .btn-blue {
        @apply bg-blue-900 py-2 px-4 rounded-xl font-bold text-white 
        hover:bg-blue-300;
    }
}

.content-area {
    @apply bg-violet-400;
    height: theme('spacing.128')
}

@media screen(xl) {
    body {
        @apply bg-black text-white;
    }
}